@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body {
    @apply bg-[#2a1c35] text-gray-300;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* can now reference my font */
body {
  font-family: Lobster;
  font-family: Poppins;
}
.image{
  
  
  left:0;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px 5px rgba(95, 9, 82, 0.829);
  border-radius: 10px;
}
.name{
  font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 50px;
text-align: center;

color: #a3068c;

}
img{
  border-radius: 30px;
}
.text{
  
  
 margin:auto;
  margin-left:30%;
  width:40%;
  text-align: center;
  align-items: center;
  font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;

align-items: center;}
.Resume{
  
  background:#e7e6e7;
  width: 100px;
  height:60px;
  border-radius: 10px;
  margin-top:50px;
  
  color: #2a1c35;
  font:60px;
}
.icoon {
  width: 70px;
  align-items: center;
  margin:auto;
  margin-top: 20px;
}

.thebox{
  
    position: absolute;
    width: 100px;
    height: 300px;
    margin: -60px 0;
    background-image: linear-gradient(to right, #cf4bff,#600a63);
    border-radius: 50% / 10%;
    color: white;
    text-align: center;
    text-indent: .1em;
    z-index: -1;
    border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  
}
 .thebox:before  {
    content: '';
    position: absolute;
    top: 25%;
    bottom: 25%;
    right: -10%;
    left: -25%;
    background: inherit;
    border-radius: 45% / 50%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
   
  }
